/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2016, 1:02:07 PM
    Author     : harini-geek
*/

.info-body{
    width: 100%;
    height: 1000px;
    background-color: white;
}

.info-body #orderSummaryBody{
    width: 60%;
    float: left;
}

.info-body #orderSummaryBody #allergyList{
    width: 100%;
    float: left;
}

.info-body #orderSummaryBody #individualOrderWindow{
    width: 100%;
}

.info-body #orderSummaryBody #currentDrugOrdersWindow{
    width: 100%;
}

.info-body #orderSummaryBody .oldDrugOrdersWindow{
    width: 100%;
}

.info-body #orderSummaryBody #medicationPlanOrderWindow{
    width: 100%;
}

.info-body #orderSummaryBody #currentMedPlansWindow{
    width: 100%;
}

.info-body #orderWindowsBody{
    width: 40%;
    float: right;
}

.info-body #orderWindowsBody #addMedicationPlanWindow{
    width: 100%;
}

.info-body #orderWindowsBody #addSingleOrderDetailsWindow{
    width: 100%;
}

.info-body #orderWindowsBody #drugOrderView{
    width: 100%;
}

.info-body #orderWindowsBody #showEditOrderView{
    width: 100%;
}

#btn-place{
    margin: 10px;
}

#text_heading{
    text-align: center;
}

.fields{
    padding-left: 10px;
}

.icon-plus{
    padding-right: 10px;
}

#header{
    text-align: left;
    font-weight: bold;
}

#entries{
    float: left;
}

#button{
    float: right;
    margin-right: 20px;
}

#view_order_detail{
    width: 100%;
}

#order_label{
    width: 30%;
    float: left;
}

#order_value{
    width: 70%;
    float: right;
}

.select_field{
    width: 35px;
}

#medicationPlanWindow, #singleOrderDetailsWindow, .orderDetails, .oldDrugOrdersWindow, #singleOrderView, #showDrugOrderView, #editOrderWindow, #renewOrderWindow, #planOrderView, #createNewPlanWindow, #viewPlanWindow, #editMedPlanWindow, #deleteMedPlanWindow, #deleteMedPlanItemWindow, #showRenewOrderView, #allergicDrugOrderReasonField, #nonActiveOrdersLinkHide, #nonActivePlansLinkHide, .icon-minus-sign.edit-action, #showGroupOrderWindow, #allergicOrderReasonView{
    display: none;
}

.info-body #selectionWindow{
    width: 60%;
    float: left;
}

.info-body #creationWindow{
    width: 40%;
    float: right;
}

.existingMedPlansDetailsWindow{
    display: none;
    padding-bottom: 10px;
}

#adminLink{
    color: #00463f;
}

#asterisk{
    color: red;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
}

#detailsLink{
    font-size: 10px;
}

#createNewPlanWindow, #deleteMedPlanItemWindow, #viewPlanWindow, #confirmNewPlanWindow, #deleteMedPlanWindow, #showRenewOrderView, #editMedPlanWindow, #singleOrderDetailsWindow, #medicationPlanWindow, #medPlanDetailsWindow, #showDrugOrderView, #confirmOrderView, #groupOrderList, #showGroupOrderWindow{
    background: #F9F9F9;
    border: 1px solid #eee;
    padding: 5px;
    color: #363463;
}

#disease_name{
    outline: none;
}